*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;
}


.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;

}
.unscrolled{
    background-color: rgb(5, 5, 5);
    height: 5.5rem;
    z-index: 1;
}
.scrolled{
    height: 70px;
    background-color:rgb(255 242 242);
    box-shadow: 1px 5px 11px #888888;
    z-index: 5000;
    transition: all 1s ease;
}

.container1 .item-1 img{
    width: 13rem;
    margin-left: 26px;
}
.container1 .item-2 ul{
    display: flex;
    align-items: center;
}
.container1 .item-2 li{
    padding: 0px 29px;
    color: white;
    font-size: 1.05rem;
    margin: 10px 0px;
    font-family: 'Noto Sans JP', sans-serif;
}
.scrolled .item-2 li{
    color: black;
}
a{
    text-decoration: none;
    color: black;
}

.container1 .item-2 li button{
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 9px 15px;
    background-color: #f55b2c;
    color: white;
    border-radius: 2px;
} 

.container1 .item-3 {
    display: none;
    font-size: 35px;
    cursor: pointer;
    z-index: 1000;
}

@media (max-width: 1220px) {
    .container1 .item-2 li{
        padding: 0px 18px;
        font-size: 1rem;
        transition: .2s;
    }

}

@media (max-width: 1100px) {
    .container1 .item-3 {
        display: block;
        margin-right: 16px;
    }
}